*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: #b1b1b1;
}
a:hover{
    color: #8e8d8d;
}
ul{
    padding: 0;
}
ul > li{
    list-style-type: none;
    padding-left: 15px;
}
ul > li.my_box:hover{
    background-color: #e9ebeb;
    cursor: pointer;
}
.active{
    background-color: #e9ebeb;
}
.far:hover,
.fas:hover{
    cursor: pointer;
}
.my_box{
    height: 80px;  
}
.my_box-search{
    height: 55px;
    border-right: 1px solid #d2d2d2;
    background-color: white;
}
.user-logo{
    border-radius: 50%;
    padding: 10px;
    width: 70px;
}
.info-wrapper{
    width: 80%;

}
.cta{
    color: #b1b1b1;
    font-size: 1.2rem;
    width: 30%;
}
.under-text{
    color: rgb(168, 168, 168);
    font-size: 0.6rem;
}
.my_bg-gray{
    background-color: #eaeaea;
}
.fa-bell-slash{
    background-color: white;
    color: #8edafc;
    padding: 10px;
    border-radius: 50%;
    font-size: 1.5rem;
}
.active{
    background-color: #e9ebeb;
}
.m-sent{
    padding: 10px;
    background-color: #d5f9ba;
    width: 350px;
    border-radius: 10px;
    align-self: flex-end;
    min-height: 70px;
}
.m-received{
    padding: 10px;
    background-color: white;
    width: 350px;
    border-radius: 10px;
    
}

#bg-header{
    height: 15vh;
    background-color: #009688;

}
#bg-main{
    height: 85vh;
    background-color: #dcdbd2;
}
#body-bg{
    position: relative;
    height: 100vh;
}
#waz-wrapper{
    height: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 1200px;
}
#user-side{
    height: 100%;
    background-color: white;
}
#chat-side{
    height: 100%;
    position: relative;
}
#pop-up{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
   
    background-color: white;
}
#app-header{
    background-color: #eaeaea;
}
#notifications{
    background-color: #8edafc;
    padding: 15px;
}
#input-search{
    color: rgb(127, 127, 127);
    font-size: 0.8rem;
    padding:10px;   
    width: 90%;
    border: none;    
}

#search-icon{
    background-color: transparent;
    border: none;
    color: lightgrey;
}

#chat{
    height: calc(100% - 140px);
    background-image: url(../img/mine.jpg);
    background-position: center;
    overflow: auto;
    
}
#bottom-chat{
    height: 60px;
    background-color: #f3eeea;
   
}
#input-chat{
    border: none;
}